* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blue;
}

div {
  width: 200px;
  height: 200px;
  background-color: #000;
  margin: 10px;
}

.section-principal {
  display: flex;
  justify-content: center;
}

/* son codiciones que atribuomo en cmabios de medidas */

@media only screen and (max-width: 900px) {
  body {
    background-color: red;
  }
  .section-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: violet;
  }

  div {
    width: 300px;
    height: 300px;
  }
}
