*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.texto-animado{
    /* aniamcion esata compuesto por un nombre y un tiempo - iteraccion */
animation-name: texto-volador;
animation-duration: 4s;
animation-iteration-count: 1;
border: solid;
}

@keyframes texto-volador{
    from{
        margin-left: 100%;
        width: 300%;
        background-color: red;
        border: none;
    }
    to{
        margin-left: -100%;
        background-color: blue;
        color: white;
        border: none;
    }
}